
@keyframes blink-warning {
    70% {
        color: @bg;
    }

    to {
        color: @bg;
        background-color: @warning;
    }
}

@keyframes blink-critical {
    70% {
      color: @bg;
    }

    to {
        color: @light;
        background-color: @critical;
    }
}


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */

/* Nord */
@define-color bg #2E3440;
/*@define-color bg #353C4A;*/
@define-color light #D8DEE9;
/*@define-color dark @nord_dark_font;*/
@define-color warning #ebcb8b;
@define-color critical #BF616A;
@define-color mode #434C5E;
/*@define-color workspaces @bg;*/
/*@define-color workspaces @nord_dark_font;*/
/*@define-color workspacesfocused #434C5E;*/
@define-color workspacesfocused #4C566A;
@define-color tray @workspacesfocused;
@define-color sound #EBCB8B;
@define-color network #5D7096;
@define-color memory #546484;
@define-color cpu #596A8D;
@define-color temp #4D5C78;
@define-color layout #5e81ac;
@define-color battery #434c5e;
@define-color date #434C5E;
@define-color time #434C5E;
@define-color backlight #434C5E;
@define-color nord_bg #434C5E;
@define-color nord_bg_blue #546484;
@define-color nord_light #D8DEE9;
@define-color nord_light_font #D8DEE9;
@define-color nord_dark_font #434C5E;

/* Reset all styles */
* {
    border: none;
    border-radius: 2px;
    min-height: 0;
    /* margin: 0.2em 0.3em 0.2em 0.3em; */
	margin: 0;
	padding: 0;
}

/* The whole bar */
#waybar {
    background: @bg;
    color: @light;
    font-family: MesloLGS Nerd Font Propo;
    font-size: 12px;
    font-weight: normal;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-layout,
#memory,
#mode,
#pulseaudio,
#temperature,
#tray,
#backlight,
#language,
#custom-mail,
#keyboard-state,
#bluetooth,

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning */
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    background: @warning;
    color: @nord_dark_font;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

/* And now modules themselves in their respective order */

/* Workspaces stuff */

#workspaces {
    color: #D8DEE9;
	margin-left: 0px;
}

#workspaces button {
    padding: 0 12px;
    opacity: 0.3;
    background: none;
}

#workspaces button.active {
    background: @workspacesfocused;
    color: #D8DEE9;
    opacity: 1;
    padding: 0 10px;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
    opacity: 1;
}

#window {
    margin-right: 40px;
    margin-left: 40px;
    font-weight: normal;
    font-size: 12px;
}
#bluetooth {
    background: @nord_bg_blue;
    padding: 0 8px;
	min-width: 12px;
}
#idle_inhibitor {
    background: @mode;
    font-size: 18px;
    padding: 0 8px;
	min-width: 14px;
}

#idle_inhibitor.activated {
    background: @light;
    color: @bg;
}

#custom-mail {
    background: @mode;
    font-size: 13px;
    padding: 0 8px;
	font-weight: normal;
}

#memory {
    background: @memory;
    padding: 0 8px;
	min-width: 40px;
}

#cpu {
    background: @nord_bg;
    color: #D8DEE9;
    padding: 0 8px;
	min-width: 35px;
}
#cpu.critical {
    color: @nord_dark_font;
}
#temperature {
    background-color: @nord_bg;
    color: #D8DEE9;
    padding: 0 8px;
}
#temperature.critical {
    background:  @critical;
}
#custom-layout {
    background: @layout;
    padding: 0 8px;
}

#battery {
    background: @battery;
    padding: 0 8px;
}

#backlight {
    background: @backlight;
    padding: 0 8px;
}

#clock {
    background: @nord_bg_blue;
    color: #D8DEE9;
    padding: 0 8px;
}
#clock.date {
    background: @date;
    padding: 0 8px;
}

#clock.time {
    background: @mode;
    padding: 0 8px;
}

#pulseaudio { /* Unsused but kept for those who needs it */
    background: @nord_bg_blue;
    color: #D8DEE9;
    padding: 0 8px;
}

#pulseaudio.muted {
    background: #BF616A;
    color: #BF616A;
    /* No styles */
}
#pulseaudio.source-muted {
    background: #D08770;
    color: #D8DEE9;
    /* No styles */
}
#tray {
    background: #434C5E;
    padding: 0 8px;
}

#keyboard-state label {
    background: @bg;
    padding: 0 8px;
	/* font-weight: normal; */
}
